
#total{
    background-image: url("../../assets/images/lb2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 1; */
    height: 100%;
    /* justify-content: space-evenly; */
}
#container{
    padding: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: insert -2px 2px 2px white ;
    text-align: center;
    align-items: center;
}
#form-title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid1px white;
}
.form-body{
    padding: 25px;
}
.form-footer{
    padding: 20px;
}
#button{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}