.container {
    width: fit-content;
    cursor: pointer;
    display: flex;
    padding: 10px;
    gap: 10px;

}

.example-card {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    min-width: 250px;   
}

.add-project
{
    margin-top: 3%;
}


